<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'tweets'}}Tweet Home Hell{{/link-to}}</li>
      <li>{{#link-to 'recent-tweets'}}Recent Tweets{{/link-to}}</li>
      
    </ul>
  </nav>

  {{outlet}}
</div>
